{% extends 'admin_base.html' %}
{%load static%}

{% block title %}NEWS - District{% endblock %}

{% block head %}
{% endblock %}

{% block admin_base %}
<div class="container-fluid ">
    <div class="col-md-10 mx-auto mt-5 shadow-sm border rounded-lg py-2">
        <span><i class="fa fa-home"></i> <a href="{% url 'state' %}" class="text-dark">Home</a> / </span><span><a class="text-dark" href="{% url 'district' %}">Dstrict</a></span> / <span class="text-muted">List</span>    
    </div>
    <div class="col-md-10  mx-auto mt-5 rounded-lg border shadow-sm">
        {% if status %}
            <div class="alert alert-success text-center mt-3">{{status}}</div>
        {% endif %}
        <div class="row">
            <div class="col-md-12">
                <h6><a href="" class="btn btn-primary mt-3" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-plus"></i> Add new</a></h6>
            </div>
        </div>
        
            <!-- modal for add new -->
            <div class="col-md-12 mt-5">
                <div class="modal fade" id="exampleModal"  data-backdrop="static"  data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog " role="document">
                        <div class="modal-content  p-0 m-0" >
                            <div class="modal-header">
                                District
                                <button  data-dismiss="modal"  class="close" type="button"  >
                                    <span aria-hidden="true" >&times;</span>
                                </button>
                            </div>
                           
                            <div class="modal-body p-0 m-0">
                                <div class="row">
                                    <div class="col-md-10 p-3 mx-auto">
                                        <form action="" method="POST">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label for="">Name</label>
                                                <input type="text" class="form-control" placeholder="Enter City Name here... " required name="districtName">
                                            </div>
                                           <div class="form-group">
                                            <label for="" >State</label>
                                            <select class="ui js-example-templating" style="width: 100%;" name="stateId">
                                                <option value="">--Select State--</option>
                                                {% for state in states %}
                                                    <option value="{{state.stateId}}">{{state.stateName}}</option>
                                                {% endfor %}
                                               
                                              </select>

                                           </div>
                                            <div class=" form-group">
                                                <input type="checkbox" id="addActive" class="form-conrol" name="addActive" >
                                                <label for="addActive"> Active</label>
                                            </div>
                                           
                                            <input type="submit" value="Add" name="add" class="form-control btn btn-success mb-5 ">
                                            
                                        </form>
        
                                    </div>
        
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                  </div>
        
            </div>
            <!-- modal end  -->
        
        
        <!-- table  satart    -->
        <div class="row">
            <div class="col-md-12 p-0">
                <div class="row">
                    <div class="col-md-12">
                        <div class="container">
                            <table class="table table-fluid display nowrap" style="width:100%" id="myTable">
                            <thead>
                            <tr><th>#</th>
                                <th>District</th>
                                <th>Status</th>
                                <th>Date/Time</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for district in districts %}
                                <tr>
                                    <td class="align-middle">{{forloop.counter}}</td>
                                    <td class="align-middle"> 
                                        {{district.districtName}} <br>
                                        <small class="text-danger">State:</small> <small>{{district.stateName.stateName}}</small>
                                    </td>
                                    <td class="align-middle">
                                        {% if district.isActive %}
                                            <span class="bg-success text-white px-3 rounded py-1">ACTIVE</span>
                                        {% else %}
                                            <span class="bg-secondary text-white px-3 rounded py-1">IN ACTIVE</span>
                                        {% endif %}
                                    </td>
                                    <td class="align-middle">
                                        <span>{{district.addedOn}}</span>
                                    </td>
                                    <td class="align-middle"><span> <h4><a href="" data-toggle="modal" data-target="#update{{district.districtId}}"><i class="fa fa-edit" ></i></a></span>
                                        <span> <a href=""data-toggle="modal" data-target="#delete{{district.districtId}}"><i class="fa fa-trash"></i></a></h4></span></h4>
                                    </td>
                                </tr>
                            {% endfor %}
                           
                            
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>        
    
            </div>
        
        </div> 
        <!-- table end  -->
            <!-- modal for edit new -->
            {% for district in districts %}
            <div class="col-md-12 mt-5">
                <div class="modal fade" id="update{{district.districtId}}"  data-backdrop="static"  data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog " role="document">
                        <div class="modal-content  p-0 m-0" >
                            <div class="modal-header">
                                {{district.districtName}}
                                <button  data-dismiss="modal"  class="close" type="button"  >
                                    <span aria-hidden="true" >&times;</span>
                                </button>
                            </div>
                           
                            <div class="modal-body p-0 m-0">
                                <div class="row">
                                    <div class="col-md-10 p-3 mx-auto">
                                        <form action="" method="POST">
                                            {% csrf_token %}
                                            <input type="text" hidden value="{{district.districtId}}" name="districtId">
                                            <div class="form-group">
                                                <label for="">Name</label>
                                                <input type="text" class="form-control" value="{{district.districtName}}" required name="districtName">
                                            </div>
                                           <div class="form-group">
                                            <label for="" >State</label>
                                            <select class="ui js-example-templating " style="width: 100%;" name="stateId">
                                                <option value="{{district.stateName.stateId}}">{{district.stateName.stateName}}</option>
                                                {% for state in states %}
                                                    {% if state.stateId == district.stateName.stateId %}
                                                    {% else %}
                                                        <option value="{{state.stateId}}">{{state.stateName}}</option>
                                                    {% endif %}
                                                {% endfor %}
                                               
                                              </select>

                                           </div>
                                            <div class=" form-group">
                                                {% if district.isActive %}
                                                    <input type="checkbox" id="updateActive" class="form-conrol " name="updateActive" checked>
                                                {% else %}
                                                    <input type="checkbox" id="updateActive" class="form-conrol " name="updateActive">
                                                {% endif %}
                                                <label for="updateActive"> Active</label>
                                            </div>
                                           
                                            <input type="submit" value="Update" name="update" class="form-control btn btn-success mb-5 ">
                                            
                                        </form>
        
                                    </div>
        
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                  </div>
        
            </div>
            {% endfor %}
            <!-- modal end  -->
        
            <!-- modal for delete -->
            {% for district in districts %}
            <div class="col-md-12 mt-5">
                <div class="modal fade" id="delete{{district.districtId}}"  data-backdrop="static"  data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog " role="document">
                        <div class="modal-content  p-0 m-0" >
        
                           
                            <div class="modal-body p-0 m-0">
                                <div class="row">
                                    <div class="col-md-10 p-3 mx-auto">
                                        <h4>Do you really want to delete <strong>{{district.districtName}}</strong>?<h4>
                                            <div class="row">
                                                <div class="col-md-6">
                                                <form action="" method="POST">
                                                    {% csrf_token %}
                                                    <input type="text" value="{{district.districtId}}" hidden name="districtId">
                                                    <input type="submit" value="Delete" name="delete" class=" btn btn-danger px-5 mt-3">
                                                </form>
                                                   </div> 
                                                   <div class="col-md-6">
                                                    <a  data-dismiss="modal" class="btn btn-info px-5 mt-3 text-white">Cancel</a>        
                                                   </div>
                                                    
        
                                            </div>
        
        
                                    </div>
        
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                  </div>
        
            </div>
            {% endfor %}
            <!-- modal end  -->
        
        </div>

</div>
    <script>
 $(document).ready(function() {
            $('#myTable').DataTable( {
                
                responsive: true
            } );
        
            // new $.fn.dataTable.FixedHeader( table );
        } );
        </script>
                    <!-- for select search  -->
                    <script>
                        function formatState (state) {
                            if (!state.id) {
                                return state.text;
                            }
            
                            var baseUrl = "/user/pages/images/flags";
                            var $state = $(
                                '<span><img class="img-flag" /> <span></span></span>'
                            );
            
                            // Use .text() instead of HTML string concatenation to avoid script injection issues
                            $state.find("span").text(state.text);
                            // $state.find("img").attr("src", baseUrl + "/" + state.element.value.toLowerCase() + ".png");
            
                            return $state;
                            };
            
                            $(".js-example-templating").select2({
                            templateSelection: formatState
                            });
                    </script>
{%endblock%}