{% extends 'admin_base.html' %}
{%load static%}

{% block title %}NEWS - State{% endblock %}

{% block head %}
    
{% endblock %}

{% block admin_base %}
<div class="col-md-10 mx-auto mt-5 shadow-sm border rounded-lg py-2">
    <span><i class="fa fa-home"></i> <a href="{% url 'state' %}" class="text-dark">Home</a> / </span><span><a class="text-dark" href="{% url 'state' %}">State</a></span> / <span class="text-muted">List</span>
</div>


<div class="col-md-10 card mx-auto mt-5 shadow ">
    {% if status %}
    <div class="alert alert-success text-center">{{status}}</div>
{% endif %}
<div class="row">
    <div class="col-md-12">
        <h6><a href="" class="btn btn-primary mt-3" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-plus"></i>  Add new</a></h6>
    </div>
</div>
<div >
    <!-- modal for add new -->
    <div class="col-md-12 mt-5">
        <div class="modal fade" id="exampleModal"  data-backdrop="static"  data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog " role="document">
                <div class="modal-content  p-0 m-0" >
                    <div class="modal-header">
                        State
                        <button  data-dismiss="modal"  class="close" type="button"  >
                            <span aria-hidden="true" >&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-0 m-0">
                        <div class="row">
                            <div class="col-md-10 p-3 mx-auto">
                                <form action="" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="">Name</label>
                                        <input type="text" class="form-control" name="stateName" placeholder="Enter State Name here" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Image</label>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="customFile" name="stateImage">
                                            <label class="custom-file-label" for="customFile">Choose file</label>
                                        </div>
                                        
                                    </div>
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="1" name="isActive" id="defaultCheck1">
                                            <label class="form-check-label" for="defaultCheck1">
                                              Active
                                            </label>
                                          </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Add" name="add" class="form-control btn btn-success">
                                    </div>
                                    
                                </form>

                            </div>

                        </div>
                        
                    </div>
                    
                </div>
            </div>
          </div>

    </div>
    <!-- modal end  -->

</div>
<!-- table  satart    -->
<div class="row">
    <div class="col-md-12">
        
        <div class="row">
            <div class="col-md-12">
                <div class="container">
                    <table class="table table-fluid display nowrap" style="width:100%" id="myTable">
                    <thead>
                    <tr><th>#</th>
                        <th>State</th>
                        <th>Image</th>
                        <th>Status</th>
                        <th>Date/Time</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for state in states %}
                        <tr>
                            <td class="align-middle">{{forloop.counter}}</td>
                            <td class="align-middle">{{state.stateName}}</td>
                            {% if state.imageUlr %}
                            <td class="align-middle"><img src="/media/{{state.imageUlr}}" alt="" height="100" width="100"></td>
                            {% else %}
                            <td class="align-middle"><img src="" alt="" height="100" width="100"></td>
                            {% endif %}
                            <td class="align-middle">
                                {% if state.isActive %}
                                    <span class="bg-success text-white px-3 rounded py-1">ACTIVE</span>
                                {% else %}
                                    <span class="bg-secondary text-white px-3 rounded py-1">IN ACTIVE</span>
                                {% endif %}
                            </td>
                            <td class="align-middle">
                                <span>{{state.addedOn}}</span>
                            </td>
                            <td class="align-middle"><span> <h4><a href="" data-toggle="modal" data-target="#edit{{state.stateId}}"><i class="fa fa-edit" ></i></a></span>
                                <span> <a href=""data-toggle="modal" data-target="#delete{{state.stateId}}"><i class="fa fa-trash"></i></a></h4></span></h4></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div> 
<!-- table end  -->
    <!-- modal for edit new -->
    {% for state in states %}
    <div class="col-md-12 mt-5">
        <div class="modal fade" id="edit{{state.stateId}}"  data-backdrop="static"  data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog " role="document">
                <div class="modal-content  p-0 m-0" >
                    <div class="modal-header">
                        {{state.stateName}}
                        <button  data-dismiss="modal"  class="close" type="button"  >
                            <span aria-hidden="true" >&times;</span>
                        </button>
                    </div>

                   
                    <div class="modal-body p-0 m-0">
                        <div class="row">
                            <div class="col-md-10 p-3 mx-auto">
                                <form action="" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="text" value="{{state.stateId}}" name="stateId" hidden>
                                    <div class="form-group">
                                        <label for="">Name</label>
                                        <input type="text" class="form-control" value="{{state.stateName}}" name="stateName">
                                    </div>
                                    <div class="form-group">
                                        <label for="" >Image</label>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input"  name="stateImage">
                                            <label class="custom-file-label" for="stateImage">Upload to change state image...</label>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        {% if state.isActive %}
                                            <input type="checkbox" id="vehicle1" class="form-conrol " name="isActive" checked>
                                        {% else %}
                                            <input type="checkbox" id="vehicle1" class="form-conrol " name="isActive">
                                        {% endif %}
                                        <label for="isActive"> Active</label><br>
                                    </div>
                                   
                                    <input type="submit" value="Update" name="update" class="form-control btn btn-success mb-5 mt-3">
                                    
                                </form>

                            </div>

                        </div>
                        
                    </div>
                    
                </div>
            </div>
          </div>
        </div>
        {% endfor %}
    <!-- modal end  -->

    <!-- modal for delete -->
    {% for state in states %}
    <div class="col-md-12 mt-5">
        <div class="modal fade" id="delete{{state.stateId}}"  data-backdrop="static"  data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog " role="document">
                <div class="modal-content  p-0 m-0" >

                   
                    <div class="modal-body p-0 m-0">
                        <div class="row">
                            <div class="col-md-10 p-3 mx-auto">
                                <h4>Do you really want to delete <strong>{{state.stateName}}</strong>?<h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                        <form action="" method="POST">
                                            {% csrf_token %}
                                            <input type="text" value="{{state.stateId}}" hidden name="stateId">
                                            <input type="submit" value="Delete" name="delete" class=" btn btn-danger  px-5 mt-3">
                                        </form>
                                           </div> 
                                           <div class="col-md-6">
                                            <a  data-dismiss="modal" class="btn btn-info px-5 mt-3 text-white">Cancel</a>        
                                           </div>
                                            

                                    </div>


                            </div>

                        </div>
                        
                    </div>
                    
                </div>
            </div>
          </div>

    </div>
    {% endfor %}
    <!-- modal end  -->

</div>
<script>
 $(document).ready(function() {
            $('#myTable').DataTable( {
                responsive: true,
                asStripeClasses: []
            } );
        
            // new $.fn.dataTable.FixedHeader( table );
        } );
    </script>
    <!-- <script>
        $(".custom-file-input").on("change", function() {
          var fileName = $(this).val().split("\\").pop();
          $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script> -->
{%endblock%}