{% extends 'admin_base.html' %}
{%load static%}

{% block title %}NEWS - Sunday Magazine{% endblock %}


{% block admin_base %}
<div class="col-md-10 mx-auto mt-5 shadow-sm border rounded-lg py-2">
    <span><i class="fa fa-home"></i> <a href="{% url 'state' %}" class="text-dark">Home</a> / </span><span><a class="text-dark" href="{% url 'sunday_magzine' %}">Sunday Magazine</a></span> / <span class="text-muted">List</span>    

</div>
<div class="col-md-10 mx-auto mt-5 rounded-lg border shadow-sm">
    {% if status %}
        <div class="alert alert-success text-center mt-3">{{status}}</div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <h6><a href="" class="btn btn-primary mt-3" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-plus"></i> Add new</a></h6>
        </div>
    </div>
    <div >
        <!-- modal for add new -->
        <div class="col-md-12 mt-4">
            <div class="modal fade" id="exampleModal"  data-backdrop="static"  data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog " role="document">
                    <div class="modal-content  p-0 m-0" >
                        <div class="modal-header">
                            Sunday Magazine 
                            <button  data-dismiss="modal"  class="close" type="button"  >
                                <span aria-hidden="true" >&times;</span>
                            </button>
                        </div>
                       
                        <div class="modal-body p-0 m-0">
                            <div class="row">
                                <div class="col-md-10 p-3 mx-auto">
                                    <form action="" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="">Name</label>
                                            <input type="text" class="form-control" placeholder="Enter Name here" name="magazineName" required>

                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="" >Upload File</label>
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" name="fileName" required>
                                                <label class="custom-file-label" for="customFile">Choose file</label>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="" >Upload Image</label>
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" name="imageUrl" required> 
                                                <label class="custom-file-label" for="customFile">Choose file</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="">News Date</label>
                                            <input type="text" pattern="\d{1,2}-\d{1,2}-\d{4}" placeholder="dd-mm-yyyy" class="datepicker form-control" name="date" required />
                                        </div>
                                        <div class="form-group">
                                            <input type="checkbox" id="addActive" class="form-conrol mt-4" name="addActive" >
                                            <label for="addActive"> Active</label><br>
                                        </div>
                                        <input type="submit" value="Add" name="add" class="form-control btn btn-success mb-5 mt-3">
                                    </form>
    
                                </div>
    
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
              </div>
    
        </div>
        <!-- modal end  -->
    
    </div>
    <!-- table  satart    -->
                
            <div class="row">
                <div class="col-md-12">
                    <div class="container">
                        <table class="table table-fluid display nowrap" style="width:100%" id="myTable">
                        <thead>
                        <tr><th>#</th>
                            <th>Name</th>
                            <th>Download</th>
                            <th>News Date</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody class="">
                        
                        {% for magazine in magazines %}
                            <tr>
                                <td class="align-middle">{{forloop.counter}}</td>
                                <td class="align-middle">{{magazine.magazineName}}</td>
                                <td class="align-middle">
                                    <a href="/media/{{magazine.fileName}}" download>
                                        <img src="/media/{{magazine.imageUrl}}" height="70" width="60" alt="">
                                    </a>
                                </td>
                                <td class="align-middle">{{magazine.newsDate}}</td>
                                <td class="align-middle">
                                    {% if magazine.isActive %}
                                        <span class="bg-success text-white px-3 rounded py-1">ACTIVE</span>
                                    {% else %}
                                        <span class="bg-secondary text-white px-3 rounded py-1">IN ACTIVE</span>
                                    {% endif %}
                                </td>
                                <td class="align-middle">
                                    <span> <h4><a href="" data-toggle="modal" data-target="#update{{magazine.magazineId}}"><i class="far fa-edit"></i></a></span>
                                    <span> <a href=""data-toggle="modal" data-target="#delete{{magazine.magazineId}}"><i class="fa fa-trash"></i></a></h4></span></h4>
                                </td>
                            </tr>
                        {% endfor %}        
                        
                        </tbody>
                       
                        </table>
                    </div>
                </div>
            </div>
    
        </div>
    
    </div> 
    <!-- table end  -->

    {% for magazine in magazines %}
        <!-- modal for edit new -->
        <div class="col-md-12 mt-5">
            <div class="modal fade" id="update{{magazine.magazineId}}"  data-backdrop="static"  data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog " role="document">
                    <div class="modal-content  p-0 m-0" >
                        <div class="modal-header">
                            {{magazine.magazineName}}
                            <button  data-dismiss="modal"  class="close" type="button"  >
                                <span aria-hidden="true" >&times;</span>
                            </button>
                        </div>
                       
                        <div class="modal-body p-0 m-0">
                            <div class="row ">
                               
                                <div class="col-md-10 p-3 mx-auto">
                                    <form action="" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}

                                        <input type="text" hidden value="{{magazine.magazineId}}" name="id">
                                        <div class="form-group">
                                            <label for="">Name</label>
                                            <input type="text" class="form-control" placeholder="" name="magazineName" value="{{magazine.magazineName}}">

                                        </div>
                                        <div class="form-group">
                                            <div class="text-center">
                                                {% if magazine.fileName %}
                                                    <a href="/media/{{magazine.fileName}}" download>
                                                        <img src="/media/{{magazine.imageUrl}}" height="70" width="60" alt="">
                                                    </a>
                                                {% endif %}
                                            </div>
                                            <label for="" >File</label>
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" name="fileName" value="">
                                                <label class="custom-file-label" for="customFile">Choose file</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="text-center">
                                                {% if magazine.imageUrl %}
                                                    <img src="/media/{{magazine.imageUrl}}" alt="" height="100" width="100">
                                                {% endif %}
                                            </div>
                                            <label for="" >Image</label>
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" name="imageUrl" value="">
                                                <label class="custom-file-label" for="customFile">Choose file</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="">News Date</label>
                                            <input type="text" pattern="\d{1,2}-\d{1,2}-\d{4}" placeholder="dd-mm-yyyy" class="datepicker form-control" name="date" value="{{magazine.newsDate}}" />
                                        </div>
                                        <div class="form-group">
                                            {% if magazine.isActive %}
                                                <input type="checkbox" id="updateActive" class="form-conrol " name="updateActive" checked>
                                            {% else %}
                                                <input type="checkbox" id="updateActive" class="form-conrol " name="updateActive">
                                            {% endif %}                                
                                            <label for="updateActive"> Active</label><br>
                                        </div>
                                        <input type="submit" value="Add" name="update" class="form-control btn btn-success mb-5 mt-3">
                                        
                                    </form>
    
                                </div>
    
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
              </div>
    
        </div>
        <!-- modal end  -->
        {% endfor %}

        {% for magazine in magazines %}
        <!-- modal for delete -->
        <div class="col-md-12 mt-5">
            <div class="modal fade" id="delete{{magazine.magazineId}}"  data-backdrop="static"  data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog " role="document">
                    <div class="modal-content  p-0 m-0" >
    
                       
                        <div class="modal-body p-0 m-0">
                            <div class="row">
                                <div class="col-md-10 p-3 mx-auto">
                                    <h4>Do you really want to delete <strong>{{magazine.magazineName}}</strong>?<h4>
                                        <div class="row">
                                            <div class="col-md-6">
                                            <form action="" method="POST">
                                                {% csrf_token %}
                                                <input type="text" value="{{magazine.magazineId}}" hidden name="magazineId">
                                                <input type="submit" value="Delete" name="delete" class=" btn btn-danger px-5 mt-3">
                                            </form>
                                               </div> 
                                               <div class="col-md-6">
                                                <a  data-dismiss="modal" class="btn btn-info px-5 mt-3 text-white">Cancel</a>        
                                               </div>
                                                
    
                                        </div>
    
    
                                </div>
    
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
              </div>
    
        </div>
        {% endfor %}

        <!-- modal end  -->
    
    </div>
    <script>
            $(document).ready(function() {
            $('#myTable').DataTable( {
                
                responsive: true
            } );
        
            // new $.fn.dataTable.FixedHeader( table );
        } );
        </script>


            <!-- for select search  -->
            <script>
                
            </script>

<script>
    $(document).ready(function () {
    $('.datepicker').datepicker({
      uiLibrary: 'bootstrap4',
      format: 'dd-mm-yyyy'
    });
});
</script>
{%endblock%}