{% extends 'admin_base.html' %}
{%load static%}
{%block head%}

{%endblock%}
{% block admin_base %}
<div class="col-md-10 mx-auto mt-5 shadow shadow-lg py-3">
    <span> <a href="" class="text-dark">Home/</a> </span><span><a class="text-dark" href="">Sunday magazine /</a></span><span> <a class="text-dark" href="">List</a></span>

</div>
<div class="col-md-10 shadow mx-auto shadow-lg mt-5 p-4">
    <div class="row">
        <div class="col-md-12">
            <h1>Sunday magazine</h1>

        </div>
        <div class="col-md-12 mb-3">
            <form action="">
                <div class="row border p-5 shadow">
                    <div class="col-md-6"> 
                        <div class="form-group">
                            <label for="" >File name</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" >
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="">News date</label>
                            <input type="date" class="form-control">

                        </div>

            
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Notification Text</label>
                            <input type="text" class="form-control">

                        </div>
                       <label for="">.</label>
                        <input type="submit" value="Add" class="btn btn-success  form-control">
                         
                    </div>

                </div>
                
            </form>
            <hr class="mt-5 text-dark">
        </div>
        
     
     
        <div class="col-md-12 px-0 mt-3">
             <!-- table  satart    -->
    <div class="row">
        <div class="col-md-12 px-0">
            
            
            <div class="row">
                <div class="col-md-12">
                    <div class="container-fluid">
                        <table class="table table-fluid display nowrap" style="width:100%" id="myTable">
                        <thead>
                        <tr><th>Sr.num</th>
                            <th>Magzine </th>
                            <th>Image</th>
                            <th>News date</th>
                            <th>Date/Time</th>
                            <th>m.Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr><td>1</td>
                            <td>Kanada</td>
                            <td><img height="50" width="50" src="https://images.unsplash.com/photo-1588774069410-84ae30757c8e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=375&q=80" alt=""></td>
                            <td>hhhhhhhh</td>
                            <td>12 april,2020 03:03 am</td>
                            <td><h4><a href="" data-toggle="modal" data-target="#exampleModal1"><i class="fa fa-edit" ></i></a></h4></td>
                            
    
                        </tr>
                       
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
    
        </div>
    
    </div> 
    <!-- table end  -->
        <!-- modal for edit new -->
        <div class="col-md-12 mt-5">
            <div class="modal fade" id="exampleModal1"  data-backdrop="static"  data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog " role="document">
                    <div class="modal-content  p-0 m-0" >
                        <div class="modal-header">
                            Sunday Magazine
                            <button  data-dismiss="modal"  class="close" type="button"  >
                                <span aria-hidden="true" >&times;</span>
                            </button>
                        </div>
                       
                        <div class="modal-body p-0 m-0">
                            <div class="row">
                                <div class="col-md-10 p-3 mx-auto">
                                    <form action="">
                                        <div class="form-group">
                                            <label for="" >File name</label>
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" >
                                                <label class="custom-file-label" for="customFile">Choose file</label>
                                            </div>
                
                                        </div>
                                        <div class="form-group">
                                            <label for="">News date</label>
                                            <input type="date" class="form-control">
                
                                        </div>
                                        <div class="form-group">
                                            <label for="">Notification Text</label>
                                            <input type="text" class="form-control">
                
                                        </div>
                                        <input type="submit" value="Add" class="btn btn-success  form-control">
                                        
                                    </form>
    
                                </div>
    
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
              </div>
    
        </div>
        <!-- modal end  -->

        </div>
    </div>

</div>
<script>
  $(document).ready(function() {
            $('#myTable').DataTable( {
                
                responsive: true
            } );
        
            // new $.fn.dataTable.FixedHeader( table );
        } );
    </script>
    
{%endblock%}